In [4]:
import pandas as pd
df = pd.read_csv("data/Retail.csv")

In [10]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [38]:
a=df[df.Country.isin(['Australia'])]
b=a.Quantity*a.UnitPrice
c=b.sum()

AttributeError: 'list' object has no attribute 'sum'

In [36]:
c

9638.130000000001

In [37]:
b

197       51.00
198       39.60
199       15.00
200       32.70
201       25.40
202       35.70
203       17.85
204       17.00
205       15.00
206       15.00
207       17.00
208       17.00
209       39.60
210       20.40
17067     30.00
17068     43.20
17069     71.40
17070     30.00
17071     27.00
17072     17.70
17073     19.80
17074     19.80
29278    -11.55
29279     -6.25
29280     -9.95
34673     67.50
34674    147.50
34675     16.50
34676     19.50
34677     15.00
          ...
59119     17.70
59120     23.40
59121     17.70
59122     23.25
59123     10.20
59124     10.20
59125     34.80
59126     45.00
59127     17.70
59128      9.90
59129     34.80
59130     47.40
59131     14.85
63100     16.50
63101     19.50
63102     14.75
63103     14.75
63104     14.75
63105     12.50
63106     38.25
63107     19.50
63108     19.50
63109     10.50
63110      8.50
63111     16.50
63112     33.00
64609     17.70
64610     17.70
64611     26.85
64612     25.50
Length: 142, dtype: float64